


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homebutton{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}




body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(23, 8, 53, 0.895);
}

.card{
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.container{
    flex: 24%;
    overflow: hidden;
    height: auto;
    text-align: center;
    border-radius: 2%;
    margin: 0px 5px;
}

.first{
    background-color: cadetblue;
}

.second{
    background-color: rgba(72, 227, 123, 0.963);
}

.third{
    background-color: rgba(214, 99, 73, 0.974);
}

.fourth{
    background-color: rgba(224, 231, 135, 0.958);
}

.fifth{
    background-color: rgb(192, 33, 112);
}


.image{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px 0px;

}

image{
    max-width: 100%;
    height: auto;
    margin-top: 20px ;
    align-items: center ;
}



.checkitout{
    text-decoration: underline;
    color: aliceblue;
}

.Title{
    animation: slideNight 20s ease-in-out;
}
@keyframes slideNight{
    from{
        transform: translate(5%);
        background:rgb(10, 10, 111) ;
    }
    30%{
        transform: translate(-25%);
        background: rgb(227, 13, 156);
        color: white;
    }
    90%{
        transform: translate(100%);
        background: rgb(47, 161, 170);
        color: rgb(221, 107, 46);
    }
    to{
        transform: translate(0);
    }
}

h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    color: rgb(241, 241, 238);
}

h2{    
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 0px;
    max-width: 80%;
    margin: auto;
    width: auto;
    font-weight: bold;
}

p{
    margin: auto;
    max-width: 90%;
    font-size: 15px;

}

button{
    margin-bottom: 30px;
    margin-top: 20px;
    border: none;
    padding: 12px 25px;
    background: linear-gradient(25deg, rgb(51, 5, 27),rgb(222, 17, 113));
    color: white;
    font-size: 15px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}

/*---------Responsive*/

@media screen and (max-width:1200px) {
    .container{
        flex: 35%;
        margin: 5px 5px;
    }
}


@media screen and (max-width:600px) {
    .container{
        flex: 80%;
        margin: 5px 5px;
    }
}


